body {
    font-family: Arial, sans-serif;
    background-color: #0C081E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding-top: 80px;
}