body {
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

.login-container {
    background-color: transparent !important;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 20rem !important;
    text-align: center;
    margin: 120px auto 30px auto;
}

h2 {
    color: white;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-icon-container {
    position: relative;
}

.input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 15px 10px 15px 38px !important;
    box-sizing: border-box;
    border: 1px solid #ccc !important;
    color: white !important;
    border-radius: 10px !important;
    background-color: transparent !important;
}

button {
    background-color: transparent !important;
    width: 100%;
    height: 45px;
    padding: 15px;
    background-color: transparent;
    color: white;
    border: 1px solid #ccc !important;
    border-radius: 10px !important;
    cursor: pointer;
    margin: 15px auto 3px auto;
}

button:hover {
    color: #0C081E;
    background-color: white !important;
}

.kakao-google-login-container {
    display: flex;
    margin-top: 10px;
    border-radius: 12px;
    justify-content: center;
}

.kakao-login {
    border-radius: 12px;
    width: 170px;
    margin-right: 10px;
}

.kakao-login:hover {
    cursor: pointer;
}

.google-login {
    width: 170px;
    border-radius: 10px;
}

.google-login:hover {
    cursor: pointer;
}

.pass-link {
    text-decoration: none;
    float: right;
    margin: 5px;
}

.links {
    color: white;
    font-size: 14px;
}

.links:hover {
    color: #ffd253;
    font-weight: 600;
}

.ifNotRegistered {
    margin: 5px;
    font-size: 14px;
}

.register-link {
    margin-left: 3px;
    color: white;
    text-decoration: none;
}

.auto-login-container {
    display: flex;
    align-items: center;
    width: 150px;
    margin-top: -8px;
    font-size: 14px;
}

.auto-login-container input {
    width: 30px;
    margin-left: -2px;
}