@import "../../styles/commonStyles.css";

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    margin-top: 170px;
    color: white;
}

.auto-login-container {
    display: flex;
    align-items: center;
    width: 150px;
    margin-top: -25px;
    margin-bottom: -20px;
    font-size: 14px;
    color: white;
}

.auto-login-container input {
    width: 15px;
    margin-left: 5px;
    margin-right: 8px;
}

.kakao-google-login-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border-radius: 12px;
}

.kakao-login,
.google-login {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52.8px;
}

.kakao-login:hover,
.google-login:hover {
    cursor: pointer;
}

.google-login {
    background-color: white !important;
    color: black;
    font-family: 'Roboto Medium', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: none;
}

.google-login:hover {
    background-color: white !important;
    color: black;
}

.google-logo {
    margin-right: 24px;
    width: 18px;
    height: 18px;
}

.pass-link {
    text-decoration: none;
    float: right;
    margin: 5px 5px 5px auto;
}

.register-link {
    text-decoration: none;
    float: right;
    margin-left: 5px;
}

.ifNotRegistered {
    font-size: 14px;
}

button {
    background-color: transparent !important;
    border: 1px solid white !important;
    color: white;
    font-size: 15px;
    font-weight: 600;
}
