#ide_main_board{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 16px auto auto 45px;
}

#vertical-line{
    border-radius: 8px;
    width: 5px;
    background-color: white;
    margin: 0 30px 0 40px;
}